#cloud-config

runcmd:
  - '/usr/local/bin/consul-template -config=/etc/consul-template/config.hcl -once -template "/etc/consul-template/templates/vault_key.ctmpl:/etc/nginx/tls/server.key" -template "/etc/consul-template/templates/vault_certificate.ctmpl:/etc/nginx/tls/server.crt:bash -c \"systemctl restart nginx\""'
